<%- include ('../partials/header') %>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

        * {
            font-family: 'Poppins', 'sans-serif';
        }
    </style>
    <br><br>

    <h1 class="text-center">Admin Panel</h1>

    <br><br><br>
    <div class="tables mb-5" style="margin-left: 300px; ">
        <h3 class="w-75 text-center mb-4">Kullanıcı Listesi</h3>
        <table class="table table-striped w-75 text-center">
            <thead style="font-size: 24px;">
                <tr>
                    <th>Öğrenci Listesi</th>
                    <th>Öğrenci mi Öğretmen mi</th>
                    <th>Kullanıcyı Kaldır</th>
                </tr>
            </thead>
            <tbody style="font-size: 20px;""> 
            <% foundUsers.forEach( (user)=>{ %>
                <%if(user.role!=3) { %>
                    
                   
            <tr>
                <!--Buraya öğrencilerin bulunduğu bir liste konulacak user rolelerini kontrol edip
                öğrenci olup olmadıklarına bakmak lazım-->
                <td><%=user.username%></td>
                <td ><%if(user.role==0) { %>
                    Student
                    <% } %>
                    <%if(user.role==1) { %>
                        Teacher
                        <% } %>
                        
                </td>
                    <td><a href=" /admin/ban/<%=user.username%>" class="btn btn-outline-danger btn-md">Ban</a></td>
                </tr> <% } %>
                <% }); %>
            </tbody>

        </table>
    </div>

    <div class="tables mb-5" style="margin-left: 300px; ">
        <h3 class="w-75 text-center mb-4">Kurs Listesi</h3>
        <table class="table table-striped w-75 text-center">
            <thead style="font-size: 24px;">
                <tr>
                    <th>Kurs Listesi</th>
                    <th>Kurs Öğretmeni</th>
                    <th>Kursu Kaldır</th>
                    <th>Kursu Gör</th>
                </tr>
            </thead>
            <tbody style="font-size: 20px;""> 
            <% foundCourse.forEach( (course)=>{ %>
            <tr>
                <!--Buraya öğrencilerin bulunduğu bir liste konulacak user rolelerini kontrol edip
                öğrenci olup olmadıklarına bakmak lazım-->
                <td><%= course.courseName %></td>
                <td><%= course.courseOwner %></td>
                <td><a href=" /admin/remove/<%=course._id%>" class="btn btn-outline-danger btn-md">Ban</a></td>
                <td><a href=" /courses/<%=course._id%>" class="btn btn-outline-danger btn-md">See</a></td>
                </tr>
                <% }); %>
            </tbody>

        </table>
    </div>





    <%- include ('../partials/footer') %>