<%- include ('./partials/header') %>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
  
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>

<style>
  a{
    text-decoration: none;
    color: black;
  }
</style>


      <div class="container-fluid m-5 mx-2 d-flex align-items-center justify-content-center">
        

        
          <table class="table table-striped w-50 text-center">
            <thead>
              
              <tr>
                <th scope="col">#</th>
                <th scope="col">Quiz Name</th>
             
              </tr>
            </thead>
            <tbody>
                <% quizzes.forEach((quiz)=>{ %>
                 
              <tr>
                <th scope="row"></th>
                <td><a href="/quiz/<%= quiz._id %>"> <h4>Quiz </h4></a></td>
                <% if(role==3||okOwner==true){ %>
                  <td><a href="/deleteQuiz/<%= quiz._id %>/<%=cidd%>"> <h4>Delete </h4></a></td>
                <% } %>
      
              </tr>
             
               <% });  %>
            </tbody>
          </table>
          <br><br><br><br><br><br><br><br><br><br>
         
</div>

          

          
 


<%- include ('./partials/footer') %>