<%- include ('../partials/header') %>
<script src="https://cdn.ckeditor.com/4.19.0/standard/ckeditor.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
  video {
    width: 100%;
    height: 500px;
  }

  #pp {
    border-radius: 50%;
    width: 50px;
    height: 50px;
  }

  #questionTitle {
    display: inline;
  }

  #soruSor {
    cursor: pointer;
  }

  .form-control {
    border: 1px solid #000;
  }
</style>
<style>
    *{
        font-family: 'Poppins';
    }
     .containers {
            width: 50%;
            margin: 100px 150px;
        }

        img {
            border-radius: 50%;
            width: 100px;
            height: 100px;
            display: inline;

        }

        .row {
            display: inline;
        }

        .containers p,button {
            margin-left: 100px;
        }

        .dislike{
            margin-left: 10px;
        }

        .reply-group {
            margin-left: 100px;
        }

        h5 {
            display: inline;
            margin-left: 10px;
        }
    .container{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .image-container {
        width: 100%;
        height:200px;
        background-color: #000;
    }
    .ogrenecekleriniz{
        width: 50%;
        margin-top: 50px;
        border: 1px solid black;
        margin-left: 100px;
    }
    h2{
        font-size: 2rem;
        
        margin-left: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
        
    }
    span,p{
        font-size: 0.85rem;
        
        margin-left: 20px;
        margin-top: 20px;
    }

    .card{
        width: 30%;
        height:150px;
        display: inline;
    }

    .payment{
        margin-top: 20px;
        margin-left: 150px;
        text-decoration: none;
        padding: 5px;
        width: 50%;
        border: 1px solid #000;
        background-color: #d4d6d9;
        color: #000;
        font-size: 1.5rem;
        font-family: 'Poppins';
    }
    .payment :hover{
        background-color: rgb(135, 79, 186);
        color: white;
    }
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.ckeditor.com/4.19.0/standard/ckeditor.js"></script>


<div class="container mt-4 d-flex justify-content-center align-items-center" >
 
    
    <div class="card w-50 ">
        
        <%console.log(okParticipant) %>
        <%if(okParticipant==false && okOwner == false && role!=3){ %>
        <h3 class="text-center"><%= foundCourse.coursePrice %> $</h3>

        <a href="/payment/<%= foundCourse._id %>" class="payment d-flex justify-content-center align-items-center">Satın al</a>

        <%}else{ %>
            <%if(role==3 || okOwner==true){%>
                
            <% }else{ %>
            <h3 class="text-center">Purchased</h3>
            <% }} %>
            <%if(role==3){ %> 
                <br>
                <a href="/videolist/<%= foundCourse._id %>" class="payment">Manage Videos</a>
                <br><br><br><br><br><br>
                <a href="/quizlist/<%= foundCourse._id %>" class="payment">Manage Quizzes</a>
                <br>
                <% } %>
    </div>
    
</div>





<div class="container-fluid w-100 d-flex justify-content-center align-items-center mt-4">
   
    <div class="col-4">
        <h3 class="mb-3 p-2 border-bottom">Course Name:  <%= foundCourse.courseName %></h3>
        <form action="/putVideo">
            <div class="mb-3">
                <i class="fa-solid fa-user "></i>
                <h4 class="mb-3 p-2 border-bottom">Course Description:  <%= foundCourse.courseDescription %></h4>
            </div>
            <div class="mb-3">
                <i class="fa-solid fa-user "></i>
                <h4 class="mb-3 p-2 border-bottom">Price:  <%= foundCourse.coursePrice %> $</h4>
            </div>
            <div class="mb-3">
                <i class="fa-solid fa-user "></i>
                <h4 class="mb-3 p-2 border-bottom">Curriculum:  <%- foundCourse.courseCurriculum %></h4>
            </div>
            <div class="mb-3">
                <i class="fa-solid fa-user "></i>
                <h4 class="mb-3 p-2 border-bottom">Created At:  <%= foundCourse.date %></h4>
            </div>
            

            
            
        </form>

        
        
    
    </div>
    
</div>

<div class="containers">
    <h2 class="display-4 m-2">Öğrenci Geri Bildirimi</h2>
    <h4 class="display-4 mb-3">Yorumlar</h4>
    <div class="comment-group">
        <img src="https://www.turkcebilgi.com/uploads/media/resim/mona_lisa.jpg" alt="yok">
        <div class="row">
            <h5>Selçuk Bey</h5>
            <i>*****</i>
        </div>
        <p>Çok güzel bir kurstu herkese tavisye ederim.</p>
        <p style="font-weight: 600;">Bu yorum faydalı mıydı ?</p>
        <button class="like btn btn-primary btn-md mb-3">like</button>
        <button class="dislike btn btn-danger btn-md mb-3">dislike</button>
    </div>

    <div class="reply-group ">
        <img src="https://www.turkcebilgi.com/uploads/media/resim/mona_lisa.jpg" alt="yok">
        <div class="row">
            <h5>Atıl Samancıoğlu(Eğitmen)</h5>
        </div>

        <p>Bu güzel yorumlarınız için teşekkür ederim.</p>
    </div>

<script>
    CKEDITOR.replace( 'courseCurriculum' );
</script>
<br><br><br><br>

<%- include ('../partials/footer') %>