<%- include ('../partials/header') %>

<br><br><br><br>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.ckeditor.com/4.19.0/standard/ckeditor.js"></script>

<div class="container d-flex flex-row mt-4">
    <div class="col-4"></div>
    <div class="col-4">
        <h3 class="mb-3 p-2 border-bottom">Course Name:  <%= foundCourse.courseName %></h3>
        <form action="/putVideo">
            <div class="mb-3">
                <i class="fa-solid fa-user "></i>
                <h4 class="mb-3 p-2 border-bottom">Course Description:  <%= foundCourse.courseDescription %></h4>
            </div>
            <div class="mb-3">
                <i class="fa-solid fa-user "></i>
                <h4 class="mb-3 p-2 border-bottom">Price:  <%= foundCourse.coursePrice %> $</h4>
            </div>
            <div class="mb-3">
                <i class="fa-solid fa-user "></i>
                <h4 class="mb-3 p-2 border-bottom">Curriculum:  <%- foundCourse.courseCurriculum %></h4>
            </div>
            <div class="mb-3">
                <i class="fa-solid fa-user "></i>
                <h4 class="mb-3 p-2 border-bottom">Created At:  <%= foundCourse.date %></h4>
            </div>

            
            
        </form>

        
        
    
    </div>
    <div class="col-4"></div>
</div>

<script>
    CKEDITOR.replace( 'courseCurriculum' );
</script>
<br><br><br><br>

<%- include ('../partials/footer') %>